<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWGRMlOHR1gzz-VtOjG6lbdQ73UBAoHWk</string>
	<key>GCM_SENDER_ID</key>
	<string>44688773069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aidAble.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>aidable</string>
	<key>STORAGE_BUCKET</key>
	<string>aidable.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:44688773069:ios:f574025e02e6ee92653e84</string>
</dict>
</plist>